* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: "Playfair";
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

header {
    background-color: #004AAd;
    height: 12rem;
    width: 100%;
    display: flex;  
    flex-direction: column;   
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}


.header-container {
    width: 100%;
    max-width: 1220px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

ul {
    list-style: none;
    display: flex;
    gap: 4rem;
}

a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

h1 {
    color: #fff;
}

li:hover {
    transform: scale(1.1);
    transition: 0.4s;
}

main {
    background-color: aliceblue;
    padding-block: 5rem;
}

.main-container {
   max-width: 1220px;
   margin-inline: auto;
}

p {
    max-width: 60rem;
    text-align: center;
    margin-inline: auto;
    line-height: 2.5rem;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
}

mark{
    background-color: pink;
}

section{
    margin-bottom: 4rem;
    div{ 
        width: 6rem;
        height: 6rem;
        background-color:darkblue;
        margin-inline: auto;
        margin-bottom:2rem ;
    }

    .purple{
        background-color: purple;
    }
}

#relative{
    .purple{
        position:relative;
        top: 3rem;
        left: 5rem;
    }
}